.c-menu-overlay {
  height: calc(100% - 60px);
  left: -300px;
  background: #67809F;
  width: 50%;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  z-index: 1000;
}
.c-menu-overlay__option {
  width: 100%;
  padding: 20px;
  background: #34495E;
  color: white;
  font-size: 20px;
  border: 1px solid #34495E;
  opacity: 1 !important;
  margin: 0 !important;
  outline: none !important;
}
.c-menu-overlay__option:hover,
.c-menu-overlay__option:focus,
.c-menu-overlay__option:active {
  background: #162b40;
}
.c-menu-overlay__header {
  text-align: center;
  color: snow;
  padding: 20px;
  font-size: 20px;
}
#menu-toggle:checked ~ .c-menu-overlay {
  left: 0;
}
.c-gray-screen {
  position: absolute;
  background: rgba(211, 211, 211, 0);
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#menu-toggle:checked ~ .c-gray-screen {
  background: rgba(211, 211, 211, 0.4);
  z-index: 500 !important;
}
